@mixin width-center($width) {
  width: $width;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

*,
html,
body {
  box-sizing: border-box;
  font-family: "Lato", "arial", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

//  Hamburger menu  //
.container {
  cursor: pointer;
  float: right;
  padding-right: 25px;
  padding-top: 25px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(192, 192, 192);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change {
  .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  /* Fade out the second bar */
  .bar2 {
    opacity: 0;
  }
  /* Rotate last bar */
  .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

//-----------------//@include

html,
body {
  width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 300;
  border-radius: 200px;
  transition: all 0.2s;
  color: white;

  &:hover,
  &:active {
    background-color: #cf6d17;
  }
}

.btn-full {
  &:link,
  &:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
  }

  &:hover,
  &:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
  }
}

.btn-ghost {
  &:link,
  &:visited {
    color: #cf6d17;
    border: 1px solid #cf6d17;
  }

  &:hover,
  &:active {
    color: white;
    border: 1px solid #e67e22;
  }
}

h2 {
  word-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.2em;
  // underline
  &:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    @include width-center(100px);
    margin-top: 30px;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.15rem;
  margin-bottom: 20px;
}

section:not(#favorite-meals) {
  padding-top: 80px;
  padding-bottom: 90px;
}

// Sections //

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  nav {
    transition: all 0.3s;
    &.fixed-top {
      z-index: 100;
      position: fixed;
      width: 100vw;
      background: rgb(238, 238, 238);
      height: 70px;
      overflow: visible;
      #logo {
        margin-top: 8px;
        width: 55px;
        height: 55px;
      }

      ul {
        margin-top: 22px;
        li {
          a {
            color: black;
          }
        }
      }
    }

    height: 140px;
    text-transform: uppercase;
    #logo {
      float: left;
      height: 100px;
      margin-left: 65px;
      margin-top: 20px;
    }
    ul {
      float: right;
      grid-column-start: 3;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-right: 63px;
      //Every li except the first one
      li + li {
        margin-left: 25px;
      }
      margin-top: 55px;
      a {
        font-size: 0.9rem;
        font-weight: 300;
        text-decoration: none;
        color: white;
        &:after {
          display: block;
          content: "";
          border-bottom: 2px solid #e67e22;
          transform: scaleX(0);
          transition: 150ms ease-in-out;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
    }
  }

  #hero-text-box {
    width: 100%;
    margin-left: 5%;
    h1 {
      color: white;
      margin-bottom: 20px;
      font-size: 2.4rem;
      text-transform: uppercase;
      word-spacing: 4px;
      letter-spacing: 1px;
      font-weight: 300;
    }
    .btn:first-of-type {
      margin-right: 15px;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#features {
  #feature-intro {
    line-height: 1.4rem;
    font-weight: 300;
    font-size: 1rem;
    @include width-center(63%);
    margin-bottom: 65px;
  }

  #features-list {
    @include width-center(90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      width: 22%;
      p {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.5rem;
      }
    }
  }
  .large-icon {
    color: #e67e22;
    font-size: 3rem;
    margin-bottom: 15px;
  }
}

#favorite-meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  div {
    overflow: hidden;
  }
  img {
    width: 100%;
    filter: brightness(65%);
    transition: all 0.25s ease;
    scale: 1.25;
    &:hover {
      filter: brightness(100%);
      scale: 1.1;
    }
  }
}

#how-it-works {
  counter-reset: steps;
  background-color: rgb(243, 243, 243);
  #steps-flex {
    @include width-center(90%);
    display: flex;
    #phone {
      width: 80%;
      height: 440px;
      text-align: right;
      padding-right: 120px;
      overflow-y: hidden;
      img {
        opacity: 0;
        position: relative;
        top: 450px;
        height: 440px;
      }
    }

    li {
      display: flex;
      font-weight: 300;
      margin-top: 50px;
    }

    li::before {
      counter-increment: steps;
      float: left;
      content: counter(steps);
      color: #e67e22;
      font-size: 1.6rem;
      padding: 0.18em 0.5em;
      border: 2px solid #e67e22;
      border-radius: 50%;
      margin-right: 20px;
      align-self: center;
    }

    #download-links {
      margin-top: 80px;
      img {
        width: 175px;
      }
    }
  }
}

#cities {
  #flexbox-cards {
    h3 {
      padding-top: 10px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .card {
      display: inline-block;
      width: 20%;
      li {
        font-weight: 300;
        ion-icon {
          display: inline-block;
          color: #e67e22;
          margin-right: 20px;
          font-size: 1rem;
        }
        font-size: 1rem;
        margin-bottom: 7px;
        a {
          color: #e67e22;
          transition: all 0.2s ease;
          font-size: 1rem;
          &:hover,
          &:active {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
    img {
      width: 100%;
    }
  }
}

#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/back-customers.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  #quotes {
    @include width-center(90%);
    display: flex;
    font-style: italic;
    justify-content: space-between;
    margin-top: 95px;
    line-height: 1.5rem;
    blockquote {
      font-weight: 300;
      &::before {
        content: "\201C";
        font-size: 5.5rem;
        display: block;
        position: absolute;
        margin-top: -5px;
        margin-left: -15px;
      }
      width: 31%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cite {
        display: flex;
        margin-top: 25px;
        p {
          align-self: center;
          margin-left: 10px;
        }
        img {
          width: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

#plans {
  background-color: rgb(243, 242, 242);

  #all-plans {
    display: flex;
    justify-content: space-evenly;
    overflow: visible;

    #premium {
      position: relative;
      transition: all 0.35s;
    }

    .premium-beat {
      transform: scale(1.1);
    }

    .plan-box {
      display: flex;
      flex-direction: column;
      width: 28%;

      .first {
        padding: 15px;
        background-color: rgb(253, 252, 252);
        border-bottom: 2px solid rgb(248, 248, 248);
        .plan-price {
          font-size: 2.9rem;
          font-weight: 100;
          color: #cf6d17;
        }
        span {
          font-weight: 300;
        }
      }

      .plan-price-meal {
        font-weight: 300;
        font-size: 0.8rem;
        margin-top: 5px;
      }
      ion-icon {
        display: inline-block;
        color: #e67e22;
        margin-right: 10px;
        margin-left: 15px;
        font-size: 0.8rem;
      }

      ul {
        list-style: none;
        background-color: white;
        padding: 20px 0;
        border-bottom: 2px solid rgb(248, 248, 248);
        li {
          font-weight: 300;
          line-height: 1.8rem;
          font-size: 1rem;
        }
      }

      .sign-up {
        padding: 15px 0;
        background-color: white;
        text-align: center;
        width: 100%;
      }
    }
  }
}

#contact-us {
  form {
    overflow: visible;
    @include width-center(55%);
    display: grid;
    grid-template-columns: 36% 64%;
    grid-template-rows: 55px 55px 55px 55px 1fr 55px;
    * {
      font-weight: 300;
      font-size: 1rem;
    }

    #email,
    #name,
    textarea {
      background: transparent;
      height: 80%;
      padding: 8px;
      border: 1px solid rgb(216, 216, 216);
      border-radius: 5px;
    }

    #newsletter {
      display: flex;
      align-items: center;
      input {
        margin-right: 12px;
      }
    }

    textarea {
      grid-column: 2 / 3;
      grid-row: -3 / span 2;
      margin: 5px;
      height: 150px;
      margin-bottom: 15px;
    }

    #submit {
      grid-column: 2 / 3;
      text-decoration: none;
      padding: 10px 25px;
      font-weight: 300;
      border-radius: 200px;
      transition: all 0.2s;
      color: white;
      background-color: #e67e22;
      border: 1px solid #e67e22;
      width: 125px;

      &:hover,
      &:active {
        background-color: #cf6d17;
        border: 1px solid #cf6d17;
      }
    }
  }
}

footer {
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  * {
    color: #888;
    font-size: 0.8rem;
    font-weight: 300;
  }
  #info {
    padding: 0 10%;
    ul {
      display: flex;
    }
    * + li {
      margin-left: 20px;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    a,
    ion-icon {
      transition: all 0.2s;
    }
    #about-us {
      a {
        text-decoration: none;
        &:hover,
        &:active {
          color: white;
        }
      }
    }
    #social-media {
      ion-icon {
        font-size: 1.25rem;
      }

      ion-icon[name="logo-twitter"]:hover,
      ion-icon[name="logo-twitter"]:active {
        color: #1da1f2;
      }

      ion-icon[name="logo-facebook"]:hover,
      ion-icon[name="logo-facebook"]:active {
        color: #1877f2;
      }
      ion-icon[name="logo-google"]:hover,
      ion-icon[name="logo-google"]:active {
        color: #db4437;
      }
      ion-icon[name="logo-instagram"]:hover,
      ion-icon[name="logo-instagram"]:active {
        color: #c32aa3;
      }
    }
  }
  p {
    margin-top: 55px;
    align-self: center;
  }
}

/* media queries  */

@media only screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }

  header {
    nav {
      #logo {
        margin-left: 5%;
      }
      ul {
        margin-right: 5%;
      }
    }
    #hero-text-box {
      margin-left: 2.5%;
    }
  }

  #how-it-works {
    #steps-flex {
      #phone {
        padding-right: 50px;
      }
    }
  }

  #cities {
    #flexbox-cards {
      .card {
        li {
          ion-icon {
            margin-right: 5px;
            font-size: 0.9rem;
          }
          font-size: 0.9rem;
        }
      }
    }
  }

  #plans {
    #all-plans {
      .plan-box {
        ul {
          li {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  #contact-us {
    form {
      @include width-center(80%);
      * {
      }
    }
  }

  footer {
    * {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  section:not(#favorite-meals) {
    padding-top: 35px;
    padding-bottom: 45px;
  }
  section#features {
    padding-bottom: 0;
  }

  h2 {
    @include width-center(90%);
    margin-bottom: 1em;
    font-size: 1.8rem;
    &:after {
      margin-top: 15px;
    }
  }

  header {
    nav {
      &.fixed-top {
        height: 5rem;
        #logo {
          margin-top: 8px;
          width: 3.5rem;
          height: 3.5rem;
        }

        ul {
          li {
            a {
              color: black;
            }
          }
        }

        .container {
          float: right;
          padding-top: 0.4rem;
          padding-right: 1rem;
          height: 100%;
          overflow: visible;
        }
        .bar1,
        .bar2,
        .bar3 {
          background-color: black;
          height: 5px;
        }
      }
      #logo {
        height: 70px;
      }
      ul {
        background-color: rgb(238, 238, 238);
        display: none;
        float: right;
        flex-flow: column;
        margin-top: 5px;
        margin-left: 25px;
        li + li {
          margin-left: 0;
          margin-top: 5px;
        }

        li {
          padding-left: 10px;
          padding-right: 10px;
          height: 3.5rem;
          a {
            font-size: 1.4rem;
            &::after {
              display: none;
            }
          }
        }
      }
    }
    #hero-text-box {
      h1 {
        font-size: 2rem;
      }
      .btn {
        font-size: 1.1rem;
      }
    }
  }

  #features {
    #feature-intro {
      @include width-center(90%);
      br {
        display: none;
      }
      font-size: 1.2rem;
      line-height: 20px;
      margin-bottom: 25px;
    }

    #features-list {
      width: 100%;
      margin: 0;
      flex-direction: column;
      li {
        width: 100%;
        padding: 15px 25px;
        h3 {
          margin-bottom: 8px;
        }
        &:nth-child(2n) {
          background-color: rgb(245, 245, 245);
        }
        p {
        }
      }
    }
  }

  #how-it-works {
    #steps-flex {
      flex-direction: column;
      #phone {
        @include width-center(90%);
        display: flex;
        justify-content: center;
        margin-left: 50px;
      }
      li {
        font-size: 1.4rem;
        margin-top: 25px;
      }
      #download-links {
        margin-top: 35px;
        display: flex;
        img {
          width: 155px;
          margin-right: 15px;
        }
      }
    }
  }

  #cities {
    #flexbox-cards {
      flex-direction: column;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 150px;
        width: 100%;
        & + .card {
          margin-top: 15px;
        }
        img {
          display: none;
        }
        background-size: cover;
        background-position: center;
        //background-attachment: fixed;

        * {
          color: white;
        }
        h3 {
          text-align: center;
          font-weight: 400;
          font-size: 1.6rem;
        }
        ul {
          justify-self: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          li,
          a,
          ion-icon {
            font-size: 1.3rem;
          }
        }

        @each $var in list {
        }

        $cities: (
          "1": "../img/lisbon-3.jpg",
          "2": "../img/san-francisco.jpg",
          "3": "../img/berlin.jpg",
          "4": "../img/london.jpg",
        );

        @each $num, $city in $cities {
          &:nth-child(#{$num}) {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)
              ),
              url($city);
          }
        }
      }
    }
  }

  #testimonials {
    #quotes {
      flex-direction: column;
      margin-top: 65px;
      blockquote {
        width: 100%;
        & + blockquote {
          margin-top: 75px;
        }
        line-height: 25px;
        font-size: 1.4rem;
        cite {
          p {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  #plans {
    background-color: rgb(243, 242, 242);

    #all-plans {
      flex-direction: column;

      .plan-box {
        @include width-center(90%);
        & + .plan-box {
          margin-top: 25px;
        }
        .first .plan-price-meal {
          margin-top: 15px;
          font-size: 1.05rem;
        }
        ul li {
          font-size: 1.4rem;
          & + li {
            margin-top: 15px;
          }
        }
        a {
          font-size: 1.2rem;
        }
      }
    }
  }

  #contact-us {
    form {
      display: flex;
      flex-direction: column;
      #name,
      #email {
        height: 25px;
      }
      * + *:not(p) {
        margin-top: 8px;
      }
    }
  }

  footer {
    padding: 35px 0;
    #info {
      padding: 0 25px;
      * + li {
        margin-left: 14px;
      }
      #social-media li ion-icon {
        font-size: 1.7rem;
      }
      #about-us li a {
        font-size: 1.2rem;
      }
    }
    p {
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }

  .btn {
    padding: 8px 13px;
  }

  header {
    nav {
      #logo {
        width: 50px;
        height: auto;
      }
    }
  }

  h2 {
    font-size: 1.6rem;
    &::after {
      @include width-center(60px);
      margin-top: 15px;
    }
  }

  #features {
    #feature-intro {
      font-size: 1rem;
      margin-top: 15px;
      margin-bottom: 0px;
      line-height: 18px;
    }
    #features-list {
      li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  #how-it-works {
    h2 {
      font-size: 1.45rem;
    }
    #steps-flex {
      #phone {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 25px;
      }
      li {
        margin-top: 25px;
      }
      #download-links {
        img {
          width: 130px;
        }
      }
    }
  }

  #cities {
    #flexbox-cards {
      .card {
        ul {
          li,
          ion-icon,
          a {
            font-size: 1rem;
          }
          ion-icon {
            margin-right: 3px;
          }
        }
      }
    }
  }

  #testimonials {
    #quotes {
      blockquote {
        @include width-center(95%);
        cite {
          img {
            width: 45px;
          }
        }
      }
    }
  }

  #plans {
    #all-plans {
      .plan-box {
        .first {
          .plan-price {
            font-size: 4rem;
            font-weight: 200;
          }
        }
      }
    }
  }

  footer {
    #info {
      flex-direction: column;

      #about-us {
        margin-bottom: 25px;
        li a {
          font-size: 1.2rem;
        }
      }
      #social-media {
        li ion-icon {
          font-size: 1.8rem;
        }
      }
    }
    p {
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 8px;
  }

  #how-it-works {
    #steps-flex {
      #phone {
        margin-right: 0;

        img {
          height: 250px;
        }
      }
      #download-links {
        img {
          width: 40vw;
        }
      }
    }
  }

  #cities {
    #flexbox-cards {
      .card {
        h3 {
          font-size: 2.2rem;
        }
        ul {
          flex-direction: column;
          align-self: center;
          li,
          a,
          ion-icon {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  #contact-us {
    form {
      #submit {
        width: 35%;
        font-size: 1.3rem;
        padding-left: 20px;
      }
    }
  }
}
